@model LoginModel
@{
    Layout = "_LayoutLogout";
    ViewData["Ttile"] = "Login";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Login" asp-action="ConrfirmPassword" method="post">
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="Login" readonly>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">New Password</label>
        <input type="password" asp-for="Password" class="form-control" id="Password">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Confirm your new Password</label>
        <input type="password" class="form-control" id="ConfirmPassword">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                var login = $('#Login').val().trim();
                var password = $('#Password').val().trim();
                var confirmPassword = $('#ConfirmPassword').val().trim();

                if (!login || !password || !confirmPassword) {
                    alert("Please fill in all fields.");
                    e.preventDefault();
                    return;
                }
                if (password !== confirmPassword) {
                    alert("Passwords do not match.");
                    e.preventDefault();
                    return;
                }
            });
        });
    </script>
}
