@model ContactModel
@{
    ViewData["Title"] = "Add Contact";
}
<div class="text-center">

    <h1 class="display-4">Register Contact</h1>

</div>

<form asp-controller="Contact" asp-action="AddOrUpdate" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for ="Name" id="Name" class="form-control"  placeholder="Enter Contact Name">
        <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" id="Email" class="form-control" placeholder="Enter Contact E-mail">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" asp-for="Phone" id="phone" class="form-control" placeholder="Enter Contact Phone">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary">Confirm</button>
    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index" role="button">Cancel</a>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#phone').mask('(00) 00000-0000');

            $('form').submit(function (e) {
                let name = $('#Name').val().trim();
                let email = $('#Email').val().trim();
                let phone = $('#phone').val().trim();

                if (name === '' || email === '' || phone === '') {
                    alert('All fields are required!');
                    e.preventDefault();
                }
            });
        });
    </script>
}
