@using ContactController.Enums
@model UserModel
@{
    ViewData["Title"] = "Add User";
}


<div class="text-center">
    <h1 class="display-4">Register User</h1>
</div>


<form asp-controller="User" asp-action="AddOrUpdate" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" id="Name" class="form-control" placeholder="Enter User Name">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" id="Email" class="form-control" placeholder="Enter User E-mail">
    </div>

    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" asp-for="Login" id="Login" class="form-control" placeholder="Enter User Login">
    </div>

    @if (@Model == null)
    {
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" asp-for="Password" id="password" class="form-control" placeholder="Enter User Password">
        </div>
    }
    <div class="form-group">
        <label for"perfil" class="form-label">Perfil</label>
        <select asp-for="Profile" class="form-control">
            <option value="0">Selecione</option>
            <option value="@((int)ProfileEnum.Admin)">Administrator</option>
            <option value="@((int)ProfileEnum.Standard)">Standard</option>
        </select>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Confirm</button>
        <a class="btn btn-secondary" asp-controller="User" asp-action="Index" role="button">Cancel</a>
    </div>

    @if (@Model != null && @Model.UpdatedDate != null)
    {
        <div class="text-right">
            <label for="UpdatedDate">Updated Date: @Model.UpdatedDate</label>
        </div>
    }
</form>
