@{
    Layout = "_LayoutLogout";
    ViewData["Title"] = "Restrict Page";
}

<p>You do not have access to this feature, <a asp-controller="Home" asp-action="Index">click here to return for Home</a> </p>